.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color:rgba(0, 0, 0, 0.75);
  color: #fff;
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
  color: #fff;
  text-decoration: none;
}
.navbar .logo span{
    color: #f73471;
}
.navbar-links {
  display: flex;
  list-style: none;
}

.navbar-links li {
  margin-left: 1rem;
}

.navbar-links a {
  color: #fff;
  text-decoration: none;
  font-size: 1rem;
}

.menu-toggle {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.menu-toggle .bar {
  width: 25px;
  height: 3px;
  background-color: #f73471;
  margin: 4px 0;

}

.menu-toggle .bar a:hover{
    transform: rotate(180deg);
}

@media (max-width: 768px) {
  .navbar-links {
    display: none;
    flex-direction: column;
    width: 50%;
    position: absolute;
    top: 60px;
    right: 0 ;
    background-color: #f73471;
    padding: 1rem 0;
  }

  .navbar-links.open {
    display: flex;
  }

  .navbar-links li {
    margin: 0;
    padding: 1rem;
    text-align: center;
  }

  .menu-toggle {
    display: flex;
  }
}